
.idea
vendor
node_modules
code_sniffer_error.txt

/readme.txt
/.logs
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
.DS_Store
rules-phpcs.txt

/database/temp
/database/migrations_temp
/database/factories_temp


/**/.idea/
/**/.DS_Store

/**/docker/redis/*
!/**/docker/redis/.gitkeep
/**/docker/apache/logs/*
!/**/docker/apache/logs/.gitkeep
/**/docker/mysql/dbdata/*
/**/docker/postgres/dbdata/*
/**/docker/nginx/logs/*
!/**/docker/nginx/logs/.gitkeep

production.env
staging.env
development.env

.env
.env.php
.env.production
.env.staging
.env.development

phinx.php
Migration.php

/tools
.vscode
doc.txt
